	@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
	
	/* POR ESTRUCTURA */
	body{
		background-color: black;
		background-image: url('guts-neon-iconic-5120x2880-21415.png');
		background-position: center center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		background-attachment: fixed;
		}
	h1 {
		color: #9e9e9e;
		font-family: "Iceland", sans-serif;
		font-size: 35px;
		text-align:left top;
		margin: 40px 10px 0px 50px;
	}
	header{
		display:flex;
		flex-direction:row;
	}
	img {
		
	}
	strong{
		color: purple;
	}
	a{
		color: #6505a2;
		text-decoration: black;
	 }
	a:hover{
		color: gray;
		font-size: 23px;
	}
	
	main{
		color: gray;		
	}
	
	p{
		color: #9e9e9e;
		font-family: "Iceland", sans-serif;
		font-size: 20px;
		text-align:left-top;
		margin: 70px 10px 0px 50px;
	}
	footer p{
		position:absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		text-align: center;
		text-align: right-top;
		font-size: 15px;
	}
	
	/* POR ID'S especificos */
	#frase-dura{
		color: gray;
		font-size: 17px;
		font-family: "Iceland", sans-serif;
		left: 7%;
		position: absolute;
		top: 50%;
		max-width: 600px;
	}
	#frase-dura h2 {
    margin: 0; 
	}
	#Coordenades {
		position:fixed;
		top: 0px;
		right: 0px;
		height: 20%;
		width: 13%;
		margin: 40px 94px 0px 0px;
		box-sizing: border-box;
	}
	#imagenLain{
		width: 13%;
		margin: 10px 0px 0px 30px;
		box-sizing: border-box;
	}
	#campo-comentario{
		height: 30px;
		width: 70px;
	}
	#Presentacion{
		max-width: 680px; 
		margin: 12px 0px 0px 30px;
		box-sizing: border-box;
	}
	
	
	
	/* POR CLASSES */
	
	.menu-CV{
		position:fixed;
		margin: 220px 208px 0px 0px;
		top:0;
		right:0;
		color: purple;
		cursor: pointer;
		box-sizing: border-box;
		font-size: 19px;
		
	}
	.menu-Home{
		position:fixed;
		margin: 25px 198px 0px 0px;
		top:0;
		right:0;
		color: purple;
		cursor: pointer;
		box-sizing: border-box;
		font-size: 19px;
	}
	.menu-Contact{
		position:fixed;
		margin: 124px 340px 0px 0px;
		top:0;
		right:0;
		color: purple;
		cursor: pointer;
		box-sizing: border-box;
		font-size: 19px;
	}
	.menu-Acerca{
		position:fixed;
		margin: 124px 50px 0px 0px;
		top:0;
		right:0;
		color: purple;
		cursor: pointer;
		box-sizing: border-box;
		font-size: 19px;
	}
	.TituloIMP_Pequeño{
		color: #9e9e9e;
		font-family: "Iceland", sans-serif;
		font-size: 26px;
		text-align:left top;
		margin: 40px 10px 0px 50px;
	}
	.redes ul a:hover{
		color: white;
		font-size:14px;
	}
	
	
	
	
	/* Experimental */
	
	
	
	.redes{
		background-color: #111; 
		margin: 10px 0px 0px 30px;
		border: 1px solid #333;
		max-width: 400px;
		width: 100%;
		text-align: left;
	}
	.email{
		color: white;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		margin-top: 5px;
		font-size: 14px;
		border-bottom: 1px solid #444;
		padding-bottom: 6px;
		max-width: 190px;
	}
	.listilla{
		list-style-type: none;
		font-family: 'Arial', sans-serif;
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: #1c1c1c;
		padding: 10px 15px;
		border: 1px solid #333;
		color: white;
		text-decoration: none;
		font-size: 12px;
		justify-content: center;
	}
	.explicacion-cv{
		align-items: center;
		border: 1px solid #333;
		color: white;
		text-decoration: none;
		font-size: 12px;
		justify-content: center;
		max-width: 630px;
	}
	
	.explicacion-cv h2{
		color: #9e9e9e;
		font-family: "Iceland", sans-serif;
		font-size: 26px;
		text-align:left top;
		margin:10px 10px 0px 50px;
	}
	.explicacion-cv ul{
		margin-top: 5px;
		list-style-type: none;
		font-family: 'Iceland', sans-serif;
		font-size: 15px;
	}
	
	.explicacion-cv ul a:hover{
		font-size: 17px;
		color: gray;
	}
	/* certi network */
	.LaDENETWORK div{
		position: relative; 
		bottom: 20px;    
		left: 20px; 
		width: 22%		
	}

/* TryHackMe Insignia */
	.tryhack iframe{
		
		border: none;
		width: 22%;
		position:fixed;
		bottom: 0;
		right: 0;	
	}




	.input-error {
		border: 5px solid red; /* Borde rojo en caso de error */
		
	}
	.input-correct {
		border: 5px solid green; /* Borde rojo en caso de error */
		
	}
	.win{
		color:#00ff00;
	}
	